.bg{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    // border:1px solid red;
    width: 100%;
    height: 100%;
    #bgimg{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        filter:brightness(40%) grayscale(80%);
        z-index:0;
    }
    .contain{
        position: relative;
        top: 15%;
        width:410px;
        margin: 0 auto;
        // border:solid 1px green;
        text-align: center;
        // z-index:1;
        .logo{
            margin: 20px auto 0px auto;
            width: 380px;
            height: 140px;
            // text-align: center;
            // border:solid 1px pink;            
            img{
                width: 138px;
            }
        }
        #form{
            .container{
                display:flex;
                justify-content: center;
                align-items: center;
                // border:1px solid #a7aba53b;    
                margin: 10px auto;    
                width: 284px;
                height: 40px; 
                background-color: #a7aba53b;  
                border-radius: 4px; 
                text-align: left;              
                .glyphicon:before{
                    font-size: 24px;
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: 200;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    color: #8da068;
                }
                .glyphicon-envelope:before{
                    content: "\2709";
                } 
                .glyphicon-lock:before{
                    content: "\2708";
                }     
                .input_style{
                    border:none;
                    width:240px;                                    
                    height: 30px;
                    margin-top: 5px;
                    padding-left: 7px;                                
                    font-size: 14px;
                    font-family: Arial,'微软雅黑', sans-serif !important;
                    background-color:transparent;
                }
                input::-webkit-input-placeholder{
                    color: #ccc;
                    letter-spacing: 0.3px;
                    font-size: 14px;
                    font-family: Arial,'微软雅黑', sans-serif !important;                    
                }
            }
            .btn{
                width: 250px;
                height: 40px;
                border: none;
                border-radius: 36px;
                background-color: #b6e84fc9;
                font-family: Arial,'微软雅黑', sans-serif !important;
                font-size: 16px;
                font-weight: normal;
                color:#f7f5f5c7;
                letter-spacing: 0.6px;
                margin-top: 18px;
            }
        } 
        .forgotpwd{
            margin-top: 12px;
            span{
                color:#ccc;
                font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
                font-size: 12px;
            }
        }
        .register{
            border-top: 1px solid #cccccc8c;
            width: 317px;
            height: 60px;
            margin-top: 50px;
            margin-left:auto;
            margin-right:auto;
            a{
                vertical-align: middle;
                color:#ccc;
                // vertical-align: middle;
                line-height: 60px;
                font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
                font-size: 12px;
            }
        }
    }
}