.bg{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    border:1px solid red;
    width: 100%;
    height: 100%;
    #bgimg{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        filter:brightness(40%) grayscale(80%);
        z-index:0;
    }
    .contain{
        position: relative;
        top: 20%;
        width:410px;
        margin: 0 auto;
        border:solid 1px green;
        text-align: center;
        z-index:1;
        .logo{
            margin: 20px auto 0 auto;
            width: 380px;
            height: 140px;
            // text-align: center;
            // border:solid 1px pink;            
            img{
                width: 180px;
            }
        }
        .form{
            .contain{
                #username{
                    background-color: url("/assets/img/mail.png") ;
                }
            }
        } 
    }
}