<div class="bg">
    <img id="bgimg" src="assets/img/homescreen.jpeg" />
    <div class="contain">
        <div class="logo">
            <img src="assets/img/logo.png" />
        </div>
        <form id="form">
            <div class="container">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                <input type="text" id="username" class="input_style" name="username" placeholder="E-mail address" required />
            </div>
            <div class="container">
                <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                <input type="password" id="password" class="input_style" name="password" placeholder="Password" required />
            </div>
            <button class="btn btn-primary">Sign in</button>
        </form>
        <div class="forgotpwd">
            <span>Forgot password?</span>
        </div>
        <div class="register">
            <a [routerLink]="['/register']" class="btn btn-link">New here? Sign Up</a>
        </div>
    </div>
</div>